@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

div.navbar {
  font-family: "Montserrat", sans-serif;
  font-weight: 1000;
  font-size: 22px;
  color: #0a3641;
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.topnav1 a {
  display: flex;
  align-items: center;
  position: relative;
  left: 200px;
}
